@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

section {
    padding: 0 32px;
}

h2 {
    font-weight: 900;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

li {
    list-style: none;
}

/* 

NAVBAR 

*/

nav {
    padding-top: 32px;
    display: flex;
    height: 100px;
    width: 100%;
    max-width: 1000px;
}

.nav__row {
    display: flex;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    align-items: center;
    margin: 12px 0;
    padding-bottom: 4px;
}

.nav__logo--img {
    max-height: 40px;
    max-width: 40px;
    padding: 0;
}

.nav__logo--title {
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}

.nav__link--list {
    display: flex;
}

.nav__link--anchor {
    margin: 0 12px;
}